.autocomplete {
    /* position: relative; */
    display: block;
    width: 100%;
}
  
.autocomplete {
    width: 100%;
    padding: 8px;
}

.suggestions {
    position: absolute;
    width: 320px;
    max-height: 150px;
    overflow-y: auto;
    background-color: black;
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* Removes default padding */
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #e2e2e2;
}

.no-suggestions {
    padding: 8px;
    color: #999;
}
